<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!--
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  --}}
  <link rel="icon" type="image/png" href="/assets/images/easyeats_logo.png">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>EasyEats</title>
</head>

<body>

  <header>

    <div class="inner-header">

      <div class="header-logo">
        <a class="" href="/404"><img class="logo" src="/assets/images/easyeats_logo.png" alt="EE logo"></a>
        <h1>EasyEats</h1>
      </div>

      <div class="header-nav">
        <nav>
          <ul>
            <li><a class="login" href="/login"><h2>Login</h2></a></li>
            {{!-- <li><a href="">Link 2</a></li> --}}
          </ul>
        </nav>
      </div>

    </div>


  </header>

  <main>
    {{{ body }}}
  </main>

</body>

</html>