<div class="position-relative">
  <button type="button" id="im-hungry"
    class="position-absolute top-0 start-50 translate-middle">
    <a href="/cuisines">I'm Hungry</a>
  </button>
</div>

<script src='/javascript/hungry.js'></script>