@font-face {
  font-family: 'MoviePoster';
  src: url('../assets/fonts/Movie_Poster.ttf') format('truetype');
  }

* {
  box-sizing: border-box;
  border: 1px solid red;
}

body, html {
  height: 100%;
  padding: .25%;
  margin: 0;
  font-family: sans-serif;
  color: #dee1e2;
  font-family: 'MoviePoster';
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.row.content {height: 450px}

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

footer {
  background-color: #288bac;
  color: white;
  padding: 15px;
}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}